:root {
    --background-color: rgb(47, 0, 140);
    --text-color: white;
}

#shownResult,
h2 {
    font-family: 'Caveat', cursive;
    font-weight: 500;
}

button {
    width: fit-content !important;
}

#odgovor {
    letter-spacing: 15px;
}

.disabled-mouse {
    pointer-events: none;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    
}

/*
img {
    filter: brightness(0%);
}
*/

img {
    width: 50%;
}

#modal-button {
    visibility: hidden;
}

.modal {
    color: black;
}

#shownResult {
    font-size: 70px;
}

.images {
    width: 0px;
}

/* Gradient background animation */
body {
	background: linear-gradient(-45deg, #193764, #590e2b, #044259, #61007e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
